.patherPresentation {
    height: 85vh;
}

@keyframes textAnimation {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes imgAnimation {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.presentationContainer {
    margin-top: 10%;
    padding: 0 10%;
    display: flex;
    align-items: center;
    line-height: 1.2;
}

.presentationContainer h1 {
    color: white;
    font-size: 4.5rem;
    line-height: 1;
    color: #eee;
    margin-bottom: 0;
}

.presentationContainer h2 {
    color: rgb(0, 153, 255);
    font-size: 2rem;
    margin-top: 1%;
    height: 3vh;
    font-weight: 700;
    margin-bottom: 3%;
}

.presentationContainer .namePresentation p {
    color: #888;
    margin-top: 2%;
    font-weight: 500;
    height: 3vw;
    text-wrap: pretty;
    width: 80%;
    font-size: 1rem;
    margin-bottom: 1.5%;
}

.presentationContainer button {
    padding: 10px 25px;
    border: none;
    width: 23%;
    border-radius: 5px;
    background-color: #09f;
    color: white;
    cursor: pointer;
    border: solid 2px transparent;
    font-weight: 500;
    font-size: 12px;
    outline: none;
    transition: .2s;
}

.presentationContainer button:hover {
    color: #eee;
}

.presentationContainer .namePresentation {
    width: 65%;
}

.presentationContainer .imagePresentation {
    width: 35%;
    height: 100%;
}

.presentationContainer .detailsPresentation {
    display: flex;
    margin-top: 3%;
    align-items: center;
}

.presentationContainer a {
    color: #ccc;
    cursor: pointer;
    font-size: 1rem;
    margin-left: 3%;
    transition: .2s;
}

.presentationContainer a:hover {
    color: white;
}

.presentationContainer .imagePresentation {
    text-align: center;
}

.presentationContainer .imagePresentation img {
    width: 80%;
    height: 80%;
    border-radius: 48% 52% 55% 45% / 31% 48% 52% 69%;
    transition: .3s;
    animation: changeBorderRadius 17s infinite;
}

@keyframes changeBorderRadius {
    0%, 100% {
        border-radius: 48% 52% 55% 45% / 31% 48% 52% 69%;
    }
    25% {
        border-radius: 50% 50% 72% 28% / 48% 56% 44% 52%;
    }
    50% {
        border-radius: 57% 43% 72% 28% / 33% 74% 26% 67%;
    }
    75% {
        border-radius: 50% 50% 72% 28% / 48% 56% 44% 52%;
    }
    30% {
        border-radius: 60% 40% 55% 45% / 25% 65% 35% 75%;
    }
    60% {
        border-radius: 40% 60% 50% 50% / 60% 40% 55% 45%;
    }
    90% {
        border-radius: 55% 45% 40% 60% / 75% 25% 65% 35%;
    }
    15% {
        border-radius: 65% 35% 50% 50% / 40% 60% 50% 50%;
    }
}

@media (max-width: 729px) {
    .presentationContainer {
        margin-top: 35% !important;
    }
    .presentationContainer .namePresentation h1 {
        font-size: 3.5rem;
    }
    .presentationContainer .namePresentation h2 {
        font-size: 1.2rem;
        margin-top: 2%;
    }
    .presentationContainer .namePresentation p {
        font-size: .9rem;
        text-align: center;
        width: 100%;
        margin-top: 2%;
        margin-bottom: 2%;
    }
    .presentationContainer .detailsPresentation {
        display: block;
    }
    .patherPresentation .detailsPresentation button {
        width: 100%;
        margin: 0 auto;
        margin-top: 2%;
        margin-bottom: 5%;
    }
    .presentationContainer {
        display: block;
    }
    .presentationContainer .namePresentation {
        width: 100%;
        text-align: center;
    }
    .presentationContainer .imagePresentation {
        display: none;
    }
}

@media (max-width: 1000px) {
    .presentationContainer {
        margin-top: 15%;
    }
    .presentationContainer h1 {
        font-size: 3.5rem;
    }
    .presentationContainer h2 {
        font-size: 1.3rem;
    }
    .presentationContainer .namePresentation p {
        width: 100%;
        font-size: .8rem;
    }
    .presentationContainer .imagePresentation img {
        border: solid 5px #09f;
    }
}

@media (min-width: 1600px) {
    .presentationContainer h1 {
        font-size: 5rem;
    }
    .presentationContainer h2 {
        font-size: 1.7rem;
    }
    .presentationContainer .namePresentation p {
        font-size: 1rem;
    }
    .presentationContainer .imagePresentation img {
        width: 70%;
        height: 70%;
    }
}

@media (min-width: 1750px) {
    .presentationContainer h1 {
        font-size: 6rem;
    }
    .presentationContainer h2 {
        font-size: 2rem;
    }
    .presentationContainer .namePresentation p {
        font-size: 1.2rem;
    }
    .presentationContainer .imagePresentation img {
        width: 65%;
        height: 65%;
    }
}
