.patherPresentation {
    height: auto;
    min-height: 85vh;
  }
  
  .presentationContainer {
    margin-top: 5%;
    padding: 0 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .presentationContainer h1 {
    font-size: 2.5rem;
    color: #eee;
  }
  
  .presentationContainer h2 {
    font-size: 1.5rem;
    margin-top: 1%;
    font-weight: 700;
    color: rgb(0, 153, 255);
  }
  
  .presentationContainer p {
    color: #888;
    font-size: 1rem;
    margin-top: 1%;
    text-align: center;
  }
  
  .openAndRedes {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 2%;
  }
  
  .openAndRedes button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 15px;
    border-radius: 50px;
  }
  
  .detailsPresentation {
    margin-top: 2%;
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
  }
  
  .imagePresentation {
    margin-top: 3%;
    text-align: center;
  }
  
  .imagePresentation img {
    width: 80%;
    border-radius: 50%;
  }
  
  /* Responsive adjustments */
  
  @media (min-width: 768px) {
    .presentationContainer {
      flex-direction: row;
    }
  
    .namePresentation {
      width: 60%;
      text-align: left;
    }
  
    .imagePresentation {
      width: 40%;
    }
  
    .openAndRedes {
      flex-direction: row;
      justify-content: flex-start;
      gap: 10px;
    }
  
    .openAndRedes button {
      width: auto;
    }
  
    .detailsPresentation {
      flex-direction: row;
    }
  }
  
  @media (min-width: 1200px) {
    .presentationContainer h1 {
      font-size: 4rem;
    }
  
    .presentationContainer h2 {
      font-size: 2rem;
    }
  
    .openAndRedes button span {
      display: inline;
    }
  
    .presentationContainer p {
      font-size: 1.2rem;
    }
  
    .imagePresentation img {
      width: 70%;
    }
  }
  